#top_panel
{
	width: 765px;
	margin-left: auto;
	margin-right: auto;
	font-family: Tahoma;
	font-size: 30px;
	color: #599BC5;
	text-align: left;
	vertical-align: bottom;
	height: 30px;
	line-height: 18px;
	padding-left: 5px;
	background-color: #FFFFFF;
}

#navigation_panel
{
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	font-weight: bold;
	color: #599BC5;
	background-color: #FAFAFA;
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 15px 5px;
	width: 150px;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	text-align: right;
}

#content_panel
{
	margin-left: 170px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #666666;
	text-decoration: none;
	width: 585px;
	text-align: left;
	padding: 5px 5px 15px 5px;
	background-color: #FFFFFF;
}

#footer_panel
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #999999;
	padding: 40px 0px 10px 0px;
	text-align: center;
	clear: left;
	background-color: #FFFFFF;
}

body
{
	margin: 25px 0px 0px 0px;
	background-color: #FFFFFF;
	background-image: url(images/bg.gif);
	background-position: center;
	background-repeat: repeat-y;
	text-align: center;
	width: 770px;
	margin-left: auto;
	margin-right: auto;
}

hr
{
	width: 100%;
	height: 0px;
	text-align: center;
	border-color: #CCCCCC;
	border-style: dashed;
	border-width: 0px 0px 1px 0px;
}

h1
{
	color: #599BC5;
	font-size: 180%;
	text-decoration: none;
	text-align: right;
	margin: 0px 0px 15px 0px;
	font-weight: normal;
	padding: 2px 50px 0px 0px;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: #599BC5;
	background-color: #FFFFFF;
}

a.navigation
{
	color: #666666;
	border-width: 0px 0px 0px 5px;
	border-color: #DEDEDE;
	border-style: solid;
	text-decoration: none;
	display: block;
	padding: 3px 0px 3px 5px;
	text-align: left;
	font-weight: normal;
}

a.navigation:hover
{
	border-color: #599BC5;
	background-color: #EFEFEF;
}

.paper_image
{
    width: 80px;
    padding-right: 10px;
    padding-bottom: 40px;
}

img.avatar
{
    height: 40%;
    width: 40%;
}

button.lang
{
    border: none;
    color: #666666;
    float: left;
    margin-right: 3px
}
